/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/.vscode export-ignore
/phan.config.php export-ignore
/phpcs.xml.dist export-ignore
/phpunit.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/test export-ignore
