parameters:
	level: 9
	paths:
		- src
		- test
	treatPhpDocTypesAsCertain: false
	exceptions:
		checkedExceptionClasses:
			- 'Throwable'
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		implicitThrows: false
